body {
	background-color: #1f1f14;
}

#core {
	width: 1225px;
	height: 750px;
	margin: auto;
}

#block1 {
	width: 1225px;
	height: 85px;
	display: inline-block;
	background-color: #06bcf9;
	margin-bottom: 5px;
}

#block1 p {
	color: white;
	line-height: 42px;
}

#block2 {
	width: 400px;
	height: 385px;
	position: relative;
	display: inline-block;
	background-color: white;
	margin-right: 2px;
}

#block2 div {
	width: 100%;
	height: 45px;
	color: white;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
}

.block3 {
	width: 33%;
	height: 385px;
	display: inline-table;
	vertical-align: top;
}

			.inblock1 {
				width: 200px;
				height: 190px;
				position: relative;
				display : inline-block;
				background-color: #b3fff0;
			}

			.inblock1 div {
				width: 100%;
				height: 45px;
				position: absolute;
				bottom: 0;
				background-color: rgba(77,255,219,1);
			}

			.inblock2 {
				width: 173px;
				height: 190px;
				position: relative;
				display: inline-block;
				background-color: #ffdb4d;
				margin-right: 10px;
			}

			.inblock2 div {
				width: 100%;
				height: 45px;
				position: absolute;
				bottom: 0;
				background-color: rgba(255,204,0,1);
			}

			.inblock3 {
				width: 172px;
				height: 190px;
				display: inline-block;
				background-color: #b380ff;
				margin: auto;
			}

			.inblock4 {
				width: 200px;
				height: 190px;
				display: inline-block;
				background-color: #ff6666;
			}

			#inblock5 {
				width: 172px;
				height: 190px;
				display: inline-block;
				background-color: white;
			}

#block4 {
	width: 33%;
	height: 385px;
	position: relative;
	display: inline-table;
	vertical-align: top;
	background-color: #b3fff0;
}

#block4 div {
	width: 100%;
	height: 45px;
	color: white;
	position: absolute;
	bottom: 0;
	background-color: rgba(51,133,255,0.9);
}

#block5 {
	width: 400px;
	height: 190px;
	display: inline-table;
	background-color: #ffdb4d;
}

#block6 {
	width: 33%;
	height: 385px;
	display: inline-block;
	background-color: #b380ff; 
}

#block7 {
	width: 350px;
	height: 190px;
	display: inline-block;
	background-color: #ff6666;
}
