body {
	background-color: #1f1f14;
}

#core {
	width: 1260px;
	height: 1210px;
	margin: auto;
}

#block1 {
	width: 1250px;
	height: 85px;
	display: inline-block;
	background-color: #06bcf9;
	margin-bottom: 10px;
}

#block1 p {
	color: white;
	line-height: 42px;
}

#block2 {
	width: 410px;
	height: 410px;
	position: relative;
	display: inline-block;
	background-color: white;
}

#block2 div {
	width: 100%;
	height: 45px;
	color: white;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
}

.block3 {
	width: 415px;
	height: 850px;
	display: inline-block;
	vertical-align: top;
}

			.inblock1 {
				width: 200px;
				height: 200px;
				position: relative;
				display : inline-block;
				background-color: #b3fff0;
				margin-right: 5px;
				margin-bottom: 5px;
			}

			.inblock1 div {
				width: 100%;
				height: 45px;
				position: absolute;
				bottom: 0;
				background-color: rgba(77,255,219,1);
			}

			.inblock2 {
				width: 200px;
				height: 200px;
				position: relative;
				display: inline-block;
				background-color: #ffdb4d;
				margin-bottom: 5px;
			}

			.inblock2 div {
				width: 100%;
				height: 45px;
				position: absolute;
				bottom: 0;
				background-color: rgba(255,204,0,1);
			}

			.inblock3 {
				width: 200px;
				height: 200px;
				display: inline-block;
				background-color: #b380ff;
				margin-right: 5px;
			}

			.inblock4 {
				width: 200px;
				height: 200px;
				display: inline-block;
				background-color: #ff6666;
			}

			#inblock5 {
				width: 200px;
				height: 200px;
				display: inline-block;
				background-color: white;
				margin-left: 5px;
			}

			.inblock1bis {
				width: 200px;
				height: 200px;
				position: relative;
				display : inline-block;
				background-color: #b3fff0;
				margin-left: 5px;
			}

			.inblock1bis div {
				width: 100%;
				height: 45px;
				position: absolute;
				bottom: 0;
				background-color: rgba(77,255,219,1);
			}

			.inblock2bis {
				width: 200px;
				height: 200px;
				position: relative;
				display: inline-block;
				background-color: #ffdb4d;
			}

			.inblock2bis div {
				width: 100%;
				height: 45px;
				position: absolute;
				bottom: 0;
				background-color: rgba(255,204,0,1);
			}

#block4 {
	width: 410px;
	height: 410px;
	position: relative;
	display: inline-block;
	background-color: #b3fff0;
	margin-bottom: 5px;
}

#block4 div {
	width: 100%;
	height: 45px;
	color: white;
	position: absolute;
	bottom: 0;
	background-color: rgba(51,133,255,0.9);
}

#block5 {
	width: 410px;
	height: 200px;
	display: inline-table;
	background-color: #ffdb4d;
	margin-top: 5px;
	margin-bottom: 10px;
}

#block6 {
	width: 410px;
	height: 410px;
	display: inline-block;
	background-color: #b380ff;
	margin-top: 5px; 
}

#block7 {
	width: 410px;
	height: 200px;
	display: inline-block;
	background-color: #ff6666;
	margin-top: 5px;
}
